In [ ]:
import pandas as pd
import numpy as np

In [ ]:
outcomes = pd.read_csv('C:/Users/user/Downloads/laba2/Outcomes.txt')
outcomes_2 = pd.read_csv('C:/Users/user/Downloads/laba2/Outcomes.txt')
# сделали outcomes dataframef
outcomes = outcomes.set_index(['RecordID'])

list_of_outcomesindex = list(outcomes.index) # список id пациентов

range_8000 =  list(range(len(list_of_outcomesindex))) # [0,1,2,...,7999]

list_of_dataframe = [] #пока пустое

for patient in range_8000: 
  elem = f'fayl_{list_of_outcomesindex[patient]}'
  list_of_dataframe.append(elem)
  patient = patient +1
# list_of_dataframe ['fayl_132539',  'fayl_132540','fayl_132541',....]


list_of_dataframe_patient = []
for patient in range_8000: 
  elem = f'fayl_{list_of_outcomesindex[patient]}'
  list_of_dataframe_patient.append(elem)
  patient = patient +1
# list_of_dataframe_patient ['fayl_132539',  'fayl_132540','fayl_132541',....]

for elem in range(8000):
  list_of_dataframe[elem] = pd.read_csv(f'C:/Users/user/Downloads/laba2/set/{list_of_outcomesindex[elem]}.txt')
  print(elem, ' is done')
# внутри list_of_dataframe вместо 'fayl_132539' создал сооответствующий dataframe

for elem in range(8000):
  list_of_dataframe_patient[elem] = pd.read_csv(f'C:/Users/user/Downloads/laba2/set/{list_of_outcomesindex[elem]}.txt')
  print(elem, ' is already done')
# это просто копия для далнейших действий

patient_nomers = list(outcomes.index)  # список id пациентов
patient_ids = dict(zip(patient_nomers, list_of_dataframe_patient))  

list_of_dataframe[2]   # внутри 8000 датафреймов \\  1-8000 аргументы
patient_ids[132539]    # внутри 8000 датафреймов \\  132539-152864 аргументы
#  все равно работает одинаково

In [ ]:
def yura(df):
    df = df.drop_duplicates(['Parameter'])
    df = df.set_index(['Parameter'])
    df.drop('Time',inplace=True, axis=1)
    return df.T

In [ ]:
for i in range(8000):
    list_of_dataframe[i] = yura(list_of_dataframe[i])
    print(i, ' is perebored :) ')
# И так сделаем\преобразуем все дарафреймы  в list_of_dataframe в красивую однострочную датафреймы

In [ ]:
final = list_of_dataframe[0]
for i in range(8000):
  final= pd.concat([final, list_of_dataframe[i]]) 
  print(i, ' is connected')
  i = i + 1
final
# keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=True

In [ ]:
final_index = final.reset_index(drop=True)
final_index

Parameter,RecordID,Age,Gender,Height,ICUType,Weight,GCS,HR,NIDiasABP,NIMAP,...,SaO2,Albumin,ALP,ALT,AST,Bilirubin,Lactate,Cholesterol,TroponinI,TroponinT
0,132539.0,54.0,0.0,-1.0,4.0,-1.00,15.0,73.0,65.0,92.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,132539.0,54.0,0.0,-1.0,4.0,-1.00,15.0,73.0,65.0,92.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,132540.0,76.0,1.0,175.3,2.0,76.00,3.0,88.0,38.0,49.33,...,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,132541.0,44.0,0.0,-1.0,3.0,56.70,7.0,100.0,84.0,100.30,...,95.0,2.7,127.0,91.0,235.0,3.0,1.3,NaN,NaN,NaN
4,132543.0,68.0,1.0,180.3,3.0,84.60,15.0,79.0,63.0,86.67,...,NaN,4.4,105.0,12.0,15.0,0.2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7996,152849.0,78.0,1.0,180.3,2.0,83.18,3.0,110.0,51.0,79.33,...,98.0,NaN,NaN,NaN,NaN,NaN,1.1,NaN,NaN,NaN
7997,152851.0,90.0,1.0,177.8,3.0,87.00,13.0,97.0,32.0,50.33,...,93.0,NaN,74.0,12.0,25.0,1.0,5.8,NaN,NaN,0.09
7998,152858.0,70.0,0.0,152.4,2.0,74.00,14.0,65.0,68.0,94.67,...,98.0,2.8,88.0,11.0,21.0,NaN,1.4,NaN,1.0,NaN
7999,152862.0,49.0,0.0,-1.0,3.0,57.00,15.0,115.0,86.0,100.70,...,67.0,NaN,NaN,NaN,NaN,NaN,4.5,NaN,NaN,NaN
8000,152864.0,82.0,0.0,-1.0,2.0,-1.00,3.0,59.0,NaN,NaN,...,98.0,NaN,NaN,NaN,NaN,NaN,7.5,NaN,NaN,NaN

In [ ]:
final_index.to_excel("C:/Users/user/Downloads/final_index.xlsx")